@import "nib/vendor"
@import "nib/gradients"
@import "normalize.styl"
azul = #0070c8
verdeHeader = #1B5E20
azulHover = #01579B
gris = #F9F9F9
vendor-prefixes = webkit o ms moz official
rojo = #FF2115
body
    background black
.Background
    padding 0
    margin 0
    width 100%
    height 150%
    position absolute
    top 0
    left 0
    display block
    z-index -1
    div
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index 1
        background black
        background-size cover
        background-position center center
        &.active
            z-index 3
    #back1
        background-image url(../Imagenes/fondo1.jpg)
    #back2
        background-image url(../Imagenes/fondo2.jpg)
    #back3
        background-image url(../Imagenes/fondo3.jpg)
    #back4
        background-image url(../Imagenes/fondo4.jpg)
    #back5
        background-image url(../Imagenes/fondo5.jpg)
        
.Header
    background-color verdeHeader
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    color white
    height 60px
    left 0
    padding-left 1em
    position fixed
    right 0
    top 0
    z-index 100       
    &-content
        display block
        margin-bottom 0.5em
    &-label
        margin-left 5px  
    &-button
        background azul
        border none
        border-radius 3px
        box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        color white
        display none
        font-size 16px
        padding 0.3rem 1rem
        position absolute
        right 20px
        top 1em
        &.is-active
            display block
        &:hover
            background azulHover  
    &-title
        font-size 2em
        font-weight normal
        line-height 60px
        margin 0
        a
            color white
            text-decoration none
    &-form
        background verdeHeader
        display inline-block
        box-shadow 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24)
        position absolute
        height auto
        left 0
        text-align center
        right 0
        top -150px
        transition 0.3s
        padding-bottom 0.5em        
        &.is-active
            top 60px 
    &-txt
        border solid
        border-color #D2D4D5
        border-radius 3px
        border-width thin
        color black
        font-size .9rem
        margin-bottom 0.5em
        padding .3rem
        width 13rem
        &:focus
            box-shadow 0px 0px 10px #0C98A2
            outline none
    &-submit
        background-color azul
        border none
        border-radius 3px
        box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        color white
        display inline-block
        font-size .9rem
        margin 0 auto
        padding .3rem 1.5rem
        width 13em
        &:hover
            background azulHover
    &-mail, &-pass
        color black

.Section
    margin-top 60px
    background-color rgba(145, 145, 145, 0.6)
    position relative
    &-article      
        display block         
        text-align center
        margin-bottom 5em
    &-login
        border-bottom 1px solid white
        color white
        font-size 1em
        margin-top 1em
        padding-bottom 0.5em
    &-txt
        border solid
        border-color #D2D4D5
        border-radius 3px
        border-width thin
        font-size 1em
        margin-top 0.5em
        padding 0.7em
        width 90%
        &:focus
            outline none
            box-shadow 0px 0px 10px #0C98A2
    &-submit
        background-color azul
        border none
        border-radius 3px
        box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        color white
        display inline-block
        font-size 1.3em
        margin-top 1.4em
        padding .5em 2em
        width 10em
        max-width 15em
        &:hover
            background azulHover

.Section-form
    .container
        position relative
        margin 0.5em 0
        .arrow
            background rojo
            border-radius 3px
            bottom -2.8em
            color white
            left 1em
            padding 0.5em 1em
            position absolute
            font-size 12px
            &:after
                border-bottom 9px solid rojo
                border-left 7px solid transparent
                border-right 7px solid transparent
                content ""
                left 1em         
                position absolute
                top -9px
    .item
        display inline-block
        width 14rem
    a
        font-size 1.1rem

.Section-signup
    background-color rgba(145, 145, 145, 0.6)
    border-radius 10px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    color white
    display none
    font-size 1.2rem
    float right
    margin-top 5em
    max-width 10em
    padding 2em 1em
    vertical-align top

.Footer
    background-color black
    bottom 0
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    color white
    padding 1em 0
    text-align center
    position fixed
    right 0
    left 0
    &-parrafo
        display block
        font-size 1em
        margin 0
    &-parrafo1
        margin 0
        
.hidden
    display none                            
//mobile-first
@media screen and (min-width: 768px)
   .Background
       height 100%
    .Section
        margin 100px auto
        width 80%
        background none
        &-article
            background-color rgba(145, 145, 145, 0.6)
            padding 3em 2em
            margin-bottom 0
@media screen and (min-width: 850px)
    .Header
        height 80px
        &-title
            line-height 80px
        &-button
            display none
            &.is-active
                display none
        &-form
            display inline-block
            right 1em
            top 1em
            left initial
            text-align right
            box-shadow none
        &-content
            display inline-block
    .Section
        width 95%    
        &-signup
            display inline-block
            position absolute
            right 0
            top 0
            float left
        &-article
            display inline-block
            width 500px
            max-width 600px