@import "nib/vendor"
@import "nib/gradients"
@import "normalize.styl"
azul = #0070c8
verdeHeader = #1B5E20
azulHover = #01579B
gris = #F9F9F9
vendor-prefixes = webkit o ms moz official
rojo = #FF2115
.Header
    background-color verdeHeader
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    color white
    height 96px
    left 0
    padding-left 1em
    position fixed
    right 0
    top 0
    z-index 100
    &-content
        display inline-block
    &-label
        margin-left 5px  

.Header-button
    background azul
    border none
    border-radius 3px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    color white
    display none
    font-size 16px
    padding 0.3rem 1rem
    position absolute
    right 20px
    top 2em
    &:hover
        background azulHover
    
.Header-title
    font-size 3em
    font-weight normal
    line-height 96px
    margin 0
    a
        color white
        text-decoration none

.Header-form
    background verdeHeader
    display inline-block
    position absolute
    right 1em
    top 2em

.Header-txt
    border solid
    border-color #D2D4D5
    border-radius 3px
    border-width thin
    color black
    font-size .9rem
    margin-bottom 0.5em
    padding .3rem
    width 13rem
    &:focus
        box-shadow 0px 0px 10px #0C98A2
        outline none

.Header-submit
    background-color azul
    border none
    border-radius 3px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    color white
    display inline-block
    font-size .9rem
    margin 0 auto
    padding .3rem 1.5rem
    &:hover
        background azulHover

.Header-mail, .Header-pass
    color black

.Section
    background-image url('../Imagenes/fondo4.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center
    margin-top 96px
    padding 2em
    text-align center

.Section-article
    background-color rgba(145, 145, 145, 0.8)
    border-radius 10px 10px 0px 0px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    display inline-block
    max-width 30em
    padding .5em .5em 3em .5em
    text-align center
    margin 2em 0

.Section-login
    border-bottom 1px solid white
    color white
    font-size 1em
    padding-bottom 1em

.Section-txt
    border solid
    border-color #D2D4D5
    border-radius 3px
    border-width thin
    font-size 1em
    margin-top 1.6em
    padding .7em
    width 90%
    &:focus
        outline none
        box-shadow 0px 0px 10px #0C98A2

.Section-submit
    background-color azul
    border none
    border-radius 3px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    color white
    display inline-block
    font-size 1.3em
    margin-bottom 1em
    margin-left 30px
    margin-top 1.4em
    padding .5em 2em
    &:hover
        background azulHover

.Section-form
    .container
        position relative
        .arrow
            background rojo
            border-radius 3px
            bottom -2.8em
            color white
            left 1em
            padding 0.5em 1em
            position absolute
            font-size 12px
            &:after
                border-bottom 9px solid rojo
                border-left 7px solid transparent
                border-right 7px solid transparent
                content ""
                left 1em         
                position absolute
                top -9px
    .item
        display inline-block
        margin 0
        margin-left 2rem
        margin-right 2rem
        width 14rem
    a
        font-size 1.1rem

.Section-signup
    background-color rgba(145, 145, 145, 0.8)
    border-radius 10px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    color white
    display inline-block
    font-size 1.2rem
    margin-left 5em
    margin-top 5em
    max-width 18em
    padding .7em
    vertical-align top

.Footer
    background-color black
    bottom 0
    box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    color white
    padding 2em 0
    text-align center

.Footer-parrafo
    display inline-block
    font-size 1em
    margin 0

.Footer-parrafo1
    margin-right 7em
.hidden
    display none 
      
@media screen and (max-width: 1050px)
    .Section
        &-signup
            display none
            
@media screen and (max-width: 1000px)
    .Header
        &-content
            display block
            margin-bottom 0.5em
        &-title
            font-size 2em
        &-submit
            width 13em
        &-button
            &.is-active
                display block
        &-form
            box-shadow 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24)
            height auto
            left 0
            right 0
            text-align center
            top -150px
            transition 0.3s         
            &.is-active
                top 95px                  
    .Footer
        &-parrafo1
            margin 0
        &-parrafo
          display block  
@media screen and (max-width: 480px)
    .Section
        padding 0.5em
    .Header
        &-title
            display block
        &-txt
            width 90%
        &-submit
            display block
            width 90%
    .Section
        &-submit
            margin-left 0   