@import "nib/vendor"
@import "nib/gradients"
azul = #0070c8
verdeHeader = #1B5E20
azulHover = #01579B
gris = #F2F2F2
grisBorde = #d2d4d5
rojo-chido = #FF4F4F
verde-claro = #99CC66
vendor-prefixes = webkit o ms moz official

miDysplay(valor1, valor2, valor3, valor4)
	-webkit-display valor1
	-webkit-flex-wrap valor2
	-webkit-justify-content valor3
	-webkit-align-items valor4
	
	-o-display valor1
	-o-flex-wrap valor2
	-o-justify-content valor3
	-o-align-items valor4
	
	-moz-display valor1
	-moz-flex-wrap valor2
	-moz-justify-content valor3
	-moz-align-items valor4
	
	-ms-display valor1
	-ms-flex-wrap valor2
	-ms-justify-content valor3
	-ms-align-items valor4
	
	display valor1
	flex-wrap valor2
	justify-content valor3
	align-items valor4

a
	text-decoration none
	
#container
	width 200px
	height 200px
	& > svg
		width 100%
		display block

.progressbar__label
	text-align center
	color black

.Alimentos, .Consumidos
	list-style none
	padding 0
	margin 0
	&-agregar
		position absolute
		right 10px
		background-color white
		color azul
		top 10px
		border-radius 3px
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		border 1px solid azul
		&:hover
			background gris
	&-item
		border-bottom 1px solid grisBorde
		padding 4px
		position relative
	&-name
		margin 0
		
.Consumidos
	&-borrar
		position absolute
		right 10px
		background-color white
		color rojo-chido
		top 12px
		border-radius 50%
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		border 1px solid rojo-chido
		&:hover
			background gris
		
.Buscador
	display none
	width 24em
	border-radius 4px
	background white
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	&-aviso
		background gris
		font-size 0.8em
		padding 0.5em
		margin 0
		font-weight normal
	&-btn
		background-color azul
		color white
		display inline-block
		border none
		width 30px
		height 30px
		border-radius 3px
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		span 
			line-height 20px
		&:hover
			background azulHover
	&-form
		margin 0.5em auto
		text-align center
	&-list
		overflow-y auto
		max-height 400px
		&::-webkit-scrollbar
			width 2px
		&::-webkit-scrollbar-thumb
			background-color verdeHeader
	&-search
		border-radius 3px
		border 1px solid grisBorde
		padding 4px 0.5em
	&-title
		background verdeHeader
		padding 0.5em
		border-radius 4px 4px 0 0
		color white
		
.Registrados
	&-list
		overflow-y auto
		max-height 200px
		&::-webkit-scrollbar
			width 2px
		&::-webkit-scrollbar-thumb
			background-color verdeHeader
.Estadisticas
	&-header
		background verde-claro
		text-align center
		padding 0.5em 0
		color white
	&-titulo
		display inline-block
		margin 0 0.5em
		font-weight normal
	&-atras, &-adelante
		padding 0.5em
		cursor pointer
	&-section
		margin-top 0.5em
		miDysplay(flex, wrap, space-around, center)
.Content
	border-radius 4px
	background white
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	&-title
		background verdeHeader
		padding 0.5em
		color white
		border-radius 4px 4px 0 0
				
.FloatButton
	position fixed
	bottom 1em
	right 1em
	color white
	background black
	border-radius 50%
	width 50px
	height 50px
	line-height 50px
	text-align center
	
.Section.small
	width 20em
	margin 0 auto
	margin-top 6em
	
.color-rojo
	color white
	background rojo-chido
		
@media screen and (min-width:1000px)
	.Buscador.x-large
		display block
		min-height 450px
		
	.Content.x-large
		width 37em
		min-height 450px
		
	.FloatButton
		display none
		
	.Section.x-large
		width 62.5em
		min-height 450px
		margin-bottom 1em
		miDysplay(flex, wrap, space-between, stretch)