@import "nib/vendor"
@import "nib/gradients"

vendor-prefixes = webkit o ms moz official
azul = #0070c8
verdeHeader = #1B5E20
azulHover = #01579B
gris = #F9F9F9
rojo = #FF2115
rojoH = #C80000
.arrow-left
    border 7px solid black
    border-top-color transparent
    border-bottom-color transparent
    border-width 10px 20px 10px 0px
    border-left-color transparent
    position absolute
    height 0em
    margin-top 1.5em

.dietaCreada
    background-color rgba(145, 145, 145, 0.8)
    width 80%
    display inline-block
    padding .6em 0
    position relative
    color white
    &:hover
        background-color transparent
        cursor pointer

.btn-act-usr
    background-color azul
    color white
    font-size 1.3em
    display inline-block
    padding .5em 0em
    width 80%
    border none
    margin-top 1.4em
    border-radius 5px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    &:hover
       background-color azulHover 

.Article-dietas
    margin-top 4em
    width 25%
    height 85%
    max-height 85%
    position fixed
    padding 0em
    overflow-y auto
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.Article-dietas2
    margin-left 26%
    width 50%

.Article-dietas3
    margin-left 77%
    width 23%
    color black

.label-search
    cursor pointer
    padding 0 .2em 0 .3em
    background-color transparent
    display inline-block

.span-search
    cursor pointer
    position absolute
    top 4px

.contenedor-search
    background-color white
    margin 1em 0
    width 80%
    border solid
    border-color #0F5515
    position relative
    display inline-block
    border-radius 5px

.search
    background-color transparent
    position relative
    top 0
    font-size .8em

.input-search
    padding .3em .2em .3em 2.1em
    width 100%
    border none
    background-color transparent
    &:focus
        outline none

.opciones
    display inline-block
    position absolute
    right -6.5em

.opcionesDiv
    background-color black
    width 5rem
    display inline-block
    margin-left 1.2em
    p
        margin 0
        padding .5rem
        display inline-block

.menuCrear
    display flex
    justify-content space-between

.opcionMenu
    display inline-block
    width 13%
    text-align center
    padding .2em 0
    background-color rgba(105, 105, 105, .7)
    cursor pointer

.diasDieta
    h2
        text-align left
        background-color rgb(220, 220, 220)
        margin-bottom 0
        padding-left 1em

.espacioDieta
    background-color rgb(211, 211, 211)
    height 15em
    max-height 15em
    padding 1em
    text-align left
    padding 1em

.contenedor-resultados
    text-align center

.resultado
    background-color #0D5E0E
    color white
    width 80%
    border-radius 5px
    padding .5em
    display inline-block
    border solid
    border-color #074408
    cursor move

.icon-cancel-circle
    margin-left 1em
    cursor default

.nombreDieta-txt
    padding 0.5em 0.8em
    font-size 1em
    width 70%
    border solid
    border-width thin
    border-color #D2D4D5
    border-radius 10px
    margin-top 1.6em
    margin-bottom 1em
    outline none

.btnCancelar
    background-color rojo
    &:hover
        background-color rojoH

.menuFinalizar
    text-align center
    position absolute
    bottom 0
    left 0
    right 0

.btnMenuFin
    display inline-block
    width inherit
    padding .7em

.tablaInf
    width 100%
    color black

.tdIz
    padding .7em 0 .7em 1em
    text-align left

.tdDe
    padding .7em 1em .7em 0
    text-align right

.invisible
    display none

.visible
    display block

.textoBueno
    width 10em

.tamano
    width 0

.tam1
    width 25%

.tam2
    width 50%

.tam3
    width 23%

.transparente
    background-color transparent

.enMenu
    display inline-block
    padding .5em 1em
    margin-right 1em
    width auto
    text-align center

