.Footer
{
    color: white;
    background-color: black;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    z-index: 2;
}

.Footer-parrafo
{
    font-size: 1em;
    display: inline-block;
    margin: 0;
}

.Footer-parrafo1
{
    margin-right: 7em;
}

