@import 'nib'
@import 'normalize.styl'
@import 'style.styl'
@import url(http://fonts.googleapis.com/css?family=Roboto)
//lightblue
azulOsc = #03A9F4 //500
azulCla = #0288D1 //700
//orange
amarillo = #ffd180
botones = #ff9800
btnHover = #fb8c00
btnActive = #f57c00
//gris
fondo = #f9f9f9
body
	font-family 'Roboto', sans-serif
	background-color azulOsc
	font-size 16px

footer
	background-color azulOsc
	color white
	padding 40px 20px
	box-sizing border-box
	postion relative
	.contenedor
		margin 0 auto
		.empresa
			float right
			position relative
			bottom 10px
		.contacto
			float left
			position relative
			bottom 10px
			span
				vertical-align top
			a
				border-radius 50%	
				margin 0 0.1em
				padding 0.2em
				font-size 1.5em
				text-decoration none
				color white
				transition background-color 1s ease		
				&:hover									
					color black
					background-color amarillo
					transition background-color 1s ease
					transition color 1s ease	

header
	background-color azulOsc
	position relative
	overflow hidden
	h1
		margin 20px 70px
		color white
		font-size 1.5em
		font-weight normal
		letter-spacing 2px
section
	padding 3em 2em
	box-sizing border-box
	background-color fondo
	min-height 600px
	.contenedor
		width 100%
		box-sizing border-box
		margin 50px auto
		.datos
			display inline-block
			vertical-align top
			width 49.7%
			border 1px solid
			box-sizing border-box
			padding 2em
			p span
				font-size 1.2em
				font-style italic
		.formulario
			display inline-block
			background-color white
			width 49.7%
			padding 1.5em 2em
			box-sizing border-box
			border-radius 4px
			box-shadow 1px 1px 3px gray
			span a
				text-decoration none
				color azulCla
				&:hover
					text-decoration underline
			h2
				font-weight normal
				border-bottom 1px solid gray
				margin-bottom 1em
			input		
				margin 0 0 2em 0
				box-sizing border-box
				border-radius 4px
				&[type="submit"]
					font-size 1.2em
					color white
					padding 0.5em 2em
					background-color botones 
					border none
					box-shadow 1px 1px 3px gray
					&:hover
						background-color btnHover
					&:active
						background-color btnActive
				&[type="email"], &[type="password"]
					border 1px solid gray
					height 2.5em
					width 100%
					padding 0.8em 1em	
					display block
		
/*Escritorio o tv*/
@media (min-width: 1200px)
	body
		color red
		font-size 20px
	section
		min-height 800px

/*Escritorio pequño o tablet*/
@media (min-width: 768px) and (max-width: 979px)
	body 
		color green

/*Tablet o smartphone*/
@media (max-width: 767px)
	section
		padding 1em
		.contenedor
			.formulario
				padding 1em
				width 100%
				text-align center
				margin-bottom 1em
				span
					display block
					margin 0 0 1em 0	
				input[type="submit"]
					display block
					margin 0 0 1em 0
					width 100%
			.datos
				display none

/*Smartphone*/
@media (max-width: 480px)
	body
		color black
	footer
		text-align center
		padding 0.5em 0
		.contenedor
			.contacto, .empresa
				position static
				float inherit
	header
		text-align center
	section
		padding 1em
		min-height 0
		.contenedor
			.formulario
				padding 0
				width 100%
				text-align center
				background-color fondo
				border none
				box-shadow none
				span
					display block
					margin 0 0 1em 0	
				input[type="submit"]
					display block
					margin 0 0 1em 0
					width 100%
			.datos
				display none