.Header
{
    background-color: #1B5E20;
    height: 2em;
    color: white;
    font-size: 3em;
    padding-left: 1em;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
}

.Header-title 
{
    vertical-align: middle;
    display: inline-block;
    margin: .5em 0 0 0;
}

.Header-title a
{
    color: white;
    text-decoration: none;
}

.Header-form
{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10%;
}

.Header-txt
{
    padding: .3rem;
    font-size: .9rem;
    width: 13rem;
    border: solid;
    border-width: thin;
    border-color: #D2D4D5;
    border-radius: 5px;
}

.Header-txt:focus
{
   outline: none;
   box-shadow: 0px 0px 10px #0C98A2;
}

.Header-submit
{
    background-color: #01579B;
    color: white;
    font-size: .9rem;
    display: inline-block;
    padding: .3rem 1.5rem;
    border-radius: 5px;
    border: solid;
    border-color: #083481;
    border-width: thin;
}

.Header-mail, .Header-pass
{
    color: black;
}
/*-------------------------------------------------Esta parte es para el section de inicio de sesion-----------------------------------------------------*/

.Section
{
   background-image: url('../Imagenes/fondo4.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
}

.Section-article
{
    display: inline-block;
    background-color: rgba(145, 145, 145, 0.8);
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    padding: .5em .5em 6em .5em;
    width: 30em;
    -webkit-box-shadow: .5em .5em 2em black;
    -moz-box-shadow: .5em .5em 2em black;
    -o-box-shadow: .5em .5em 2em black;
    -ms-box-shadow: .5em .5em 2em black;
}

.Section-login
{
    font-size: 1em;
    color: white;
}

.Section-txt
{
    padding: .7em;
    font-size: 1em;
    width: 25em;
    border: solid;
    border-width: thin;
    border-color: #D2D4D5;
    border-radius: 10px;
    margin-top: 1.6em;
}

.Section-txt:focus
{
   outline: none;
   box-shadow: 0px 0px 10px #0C98A2;
}

.Section-submit
{
    background-color: #01579B;
    color: white;
    font-size: 1.3em;
    display: inline-blockblock;
    padding: .8em 2em;
    border: none;
    margin-top: 1.4em;
    margin-left: 30px;
    border-radius: 10px;
}

.Section-form p
{
    width: 14rem;
    display: inline-block;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

.Section-form p a
{
    font-size: 1.1rem;
}

.Section-signup
{
    display: inline-block;
    background-color: rgba(145, 145, 145, 0.8);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .7em;
    width: 18em;
    text-align: justify;
    margin-bottom: 15%;
    margin-right: 10%;
    color: white;
    font-size: 1.2rem;
}

/*-------------------------------------------------------Esta seccion es para el footer--------------------------------------------------------------*/

.Footer
{
    color: white;
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 2em 0;
    margin-bottom: -5.2em;
    left: 0;
    right: 0;
}

.Footer-parrafo
{
    font-size: 1em;
    display: inline-block;
    margin: 0;
}

.Footer-parrafo1
{
    margin-right: 7em;
}








