a {
  text-decoration: none;
}
#container {
  width: 200px;
  height: 200px;
}
#container > svg {
  width: 100%;
  display: block;
}
.progressbar__label {
  text-align: center;
  color: #000;
}
.Alimentos {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Alimentos-cantidad {
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #d2d4d5;
  width: 70px;
  text-align: center;
}
.Alimentos-agregar {
  position: absolute;
  right: 10px;
  background-color: #fff;
  color: #0070c8;
  top: 22px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #0070c8;
}
.Alimentos-agregar:hover {
  background: #f2f2f2;
}
.Alimentos-item {
  border-bottom: 1px solid #d2d4d5;
  padding: 4px 0.5em;
  position: relative;
}
.Alimentos-name {
  margin: 0;
}
.Alimentos-subname {
  font-size: 0.8em;
  color: #696969;
}
.Alimentos-abajo,
.Alimentos-arriba {
  margin-left: 0.3em;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Alimentos-abajo:hover,
.Alimentos-arriba:hover {
  background: #d2d4d5;
  color: #000;
}
.Consumidos {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Consumidos-subname {
  font-size: 0.8em;
  color: #696969;
}
.Consumidos-name {
  margin: 0;
}
.Consumidos-item {
  border-bottom: 1px solid #d2d4d5;
  padding: 0.5em;
  position: relative;
}
.Consumidos-borrar {
  position: absolute;
  right: 10px;
  width: 22px;
  line-height: 18px;
  height: 22px;
  background-color: #fff;
  color: #ff4f4f;
  top: 1em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #ff4f4f;
}
.Consumidos-borrar:hover {
  background: #f2f2f2;
}
.Buscador {
  display: none;
  width: 24em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Buscador-header {
  color: #fff;
  position: relative;
}
.Buscador-title {
  margin: 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-size: 1em;
  padding: 0.5em 1em;
  font-weight: normal;
  background: #1b5e20;
}
.Buscador-nav {
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  padding: 0;
  display: none;
  background: #3a366c;
}
.Buscador-nav .Comida {
  border-bottom: 1px solid #6b67a1;
  padding: 0.5em 1em;
  cursor: pointer;
}
.Buscador-nav .Comida:last-child {
  border: none;
}
.Buscador-cambiar {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  cursor: pointer;
  width: 40px;
  border-left: 1px solid #d2d4d5;
  text-align: center;
  line-height: 36px;
}
.Buscador-aviso {
  background: #f2f2f2;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0;
  font-weight: normal;
}
.Buscador-btn {
  background-color: #0070c8;
  color: #fff;
  display: inline-block;
  border: none;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.Buscador-btn span {
  line-height: 20px;
}
.Buscador-btn:hover {
  background: #01579b;
}
.Buscador-form {
  margin: 0.5em auto;
  text-align: center;
}
.Buscador-list {
  overflow-y: auto;
  max-height: 630px;
}
.Buscador-list::-webkit-scrollbar {
  width: 2px;
}
.Buscador-list::-webkit-scrollbar-thumb {
  background-color: #1b5e20;
}
.Buscador-search {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d4d5;
  padding: 4px 0.5em;
}
.Registrados-header {
  background: #f2f2f2;
  text-align: center;
  border-bottom: 1px solid #d2d4d5;
  padding: 0.5em 0;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}
.Registrados-list {
  overflow-y: auto;
  max-height: 200px;
}
.Registrados-list::-webkit-scrollbar {
  width: 2px;
}
.Registrados-list::-webkit-scrollbar-thumb {
  background-color: #1b5e20;
}
.Estadisticas-header {
  background: #9c6;
  text-align: center;
  padding: 0.5em 0;
  color: #fff;
}
.Estadisticas-titulo {
  display: inline-block;
  margin: 0 0.5em;
  font-weight: normal;
}
.Estadisticas-atras,
.Estadisticas-adelante {
  padding: 0.5em 1em;
  color: #fff !important;
}
.Estadisticas-section {
  margin-top: 0.5em;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -o-display: flex;
  -o-flex-wrap: wrap;
  -o-justify-content: space-around;
  -o-align-items: center;
  -moz-display: flex;
  -moz-flex-wrap: wrap;
  -moz-justify-content: space-around;
  -moz-align-items: center;
  -ms-display: flex;
  -ms-flex-wrap: wrap;
  -ms-justify-content: space-around;
  -ms-align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Content {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Content-title {
  background: #1b5e20;
  padding: 0.5em;
  color: #fff;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.FloatButton {
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: #fff;
  background: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.Section.small {
  width: 20em;
  margin: 0 auto;
  margin-top: 6em;
}
.color-rojo {
  color: #fff;
  background: #ff4f4f;
}
.ocultar {
  display: none;
}
.Seleccionado {
  font-weight: bold;
}
.Seleccionado-titulo {
  border-bottom: 1px solid #d2d4d5;
}
@media screen and (min-width: 1000px) {
  .Buscador.x-large {
    display: block;
    min-height: 500px;
    max-height: 750px;
  }
  .Content.x-large {
    width: 37em;
    min-height: 500px;
  }
  .FloatButton {
    display: none;
  }
  .Section.x-large {
    width: 62.5em;
    min-height: 600px;
    margin-bottom: 1em;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -webkit-align-items: stretch;
    -o-display: flex;
    -o-flex-wrap: wrap;
    -o-justify-content: space-between;
    -o-align-items: stretch;
    -moz-display: flex;
    -moz-flex-wrap: wrap;
    -moz-justify-content: space-between;
    -moz-align-items: stretch;
    -ms-display: flex;
    -ms-flex-wrap: wrap;
    -ms-justify-content: space-between;
    -ms-align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
