.Header {
  background-color: #1b5e20;
  height: 96px;
  color: #fff;
  padding-left: 1em;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
}
.Header-button {
  font-size: 16px;
  position: absolute;
  top: 2em;
  right: 20px;
  background: #01579b;
  border: 1px solid #083481;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  color: #fff;
  display: none;
}
.Header-title {
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  line-height: 96px;
}
.Header-title a {
  color: #fff;
  text-decoration: none;
}
.Header-form {
  display: inline-block;
  position: absolute;
  background: #1b5e20;
  right: 1em;
  top: 2em;
}
.Header-txt {
  padding: 0.3rem;
  font-size: 0.9rem;
  width: 13rem;
  border: solid;
  border-width: thin;
  border-color: #d2d4d5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  margin-bottom: 0.5em;
}
.Header-txt:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px #0c98a2;
  box-shadow: 0px 0px 10px #0c98a2;
}
.Header-submit {
  background-color: #01579b;
  color: #fff;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #083481;
}
.Header-mail,
.Header-pass {
  color: #000;
}
.Section {
  background-image: url("../Imagenes/fondo4.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.Section-article {
  display: inline-block;
  background-color: rgba(145,145,145,0.8);
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10%;
  padding: 0.5em 0.5em 6em 0.5em;
  width: 30em;
  -webkit-box-shadow: 0.5em 0.5em 2em #000;
  box-shadow: 0.5em 0.5em 2em #000;
}
.Section-login {
  font-size: 1em;
  color: #fff;
}
.Section-txt {
  padding: 0.7em;
  font-size: 1em;
  width: 25em;
  border: solid;
  border-width: thin;
  border-color: #d2d4d5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 1.6em;
}
.Section-txt:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px #0c98a2;
  box-shadow: 0px 0px 10px #0c98a2;
}
.Section-submit {
  background-color: #01579b;
  color: #fff;
  font-size: 1.3em;
  display: inline-blockblock;
  padding: 0.8em 2em;
  border: none;
  margin-top: 1.4em;
  margin-left: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.Section-form p {
  width: 14rem;
  display: inline-block;
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Section-form a {
  font-size: 1.1rem;
}
.Section-signup {
  display: inline-block;
  background-color: rgba(145,145,145,0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.7em;
  width: 18em;
  text-align: justify;
  margin-bottom: 15%;
  margin-right: 10%;
  color: #fff;
  font-size: 1.2rem;
}
.Footer {
  color: #fff;
  background-color: #000;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 2em 0;
  margin-bottom: -5.2em;
  left: 0;
  right: 0;
}
.Footer-parrafo {
  font-size: 1em;
  display: inline-block;
  margin: 0;
}
.Footer-parrafo1 {
  margin-right: 7em;
}
@media screen and (max-width: 767px) {
  .Header-title {
    font-size: 2em;
  }
  .Header-submit {
    width: 13em;
  }
  .Header-button.is-active {
    display: block;
  }
  .Header-form {
    top: -125px;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.5em;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .Header-form.is-active {
    top: 95px;
  }
  .Footer-parrafo1 {
    margin: 0;
  }
  .Footer-parrafo {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .Header-title {
    display: block;
  }
  .Header-txt {
    width: 90%;
  }
  .Header-submit {
    display: block;
    width: 90%;
  }
}
