.Section-todo
{
    position: relative;
    height: 100%;
}


.Article-menu
{
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    width: 30em;
    padding: 1em;
    margin-top: 3.5em;
    background-color: rgba(145, 145, 145, 0.8);
}

.search
{
    background-color: transparent;
    position: relative;
    top: 0;
    font-size: .8em;
}

.span-search-border
{
    border: solid;
    display: inline-block;
    z-index: 2;
}

.contenedor-search
{
    background-color: white;
    margin: 0;
    border: solid;
    border-color: #0F5515;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.span-search
{
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    display: inline-block;
    margin-top: .15em;
}

.label-search
{
    cursor: pointer;
    padding: 0 .2em 0 .3em;
    background-color: transparent;
    display: inline-block;
}

.search
{
    padding: .3em .2em .3em 2.1em;
    width: 24em;
    border: none;
    background-color: transparent;
}

.input-search:focus
{
    outline: none;
}

/*----------------------------------------------------Esta parte es para el contador calorico-----------------------------------------------------*/
.div
{
    margin-top: 3em;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content-title
{
    background-color: black;
    color: white;
    margin-top: 1em;
    text-align: left;
    font-size: 1.4em;
    padding: .3rem 0 .3rem 2rem;
}

.content-contador
{
    overflow-y: auto;
    padding: 0 1em;
    display: block;
}

.racion
{
    border-bottom: solid;
    font-size: 1.2rem;
    float: left;
    width: 100%;
    padding-top: 1em;
    margin: 0;
}

.racion:hover
{
    background-color: #E3E4E2;
    cursor: default;
}
/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #36AB32;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #347422;
}




.calorias
{
    position: relative;
    float: right;
    margin-right: 10%;
}

.content-total
{
    background-color: black;
    color: white;
    text-align: left;
    font-size: 1.4em;
    position: absolute;
    padding: .3rem 0 .3rem 2rem;
    bottom: 0;
    left: 0;
    right: 0;
}

/*----------------------------------------Esta es para la parte de sugerir el siguiente platillo y el sabias que-------------------------------------------*/
.Article-sugerir,
.Article-articulos
{
    margin-top: 2.5em;
    margin-left: 2em;
    display: inline-block;
    background-color: rgba(145, 145, 145, 0.8);
    -webkit-box-shadow: .5em .5em 2.2em black;
    -moz-box-shadow: .5em .5em 2em black;
    -o-box-shadow: .5em .5em 2em black;
    -ms-box-shadow: .5em .5em 2em black;
}

.Article-articulos
{
    height: 20em;
    padding: .5em;
    width: 46.25em;
}

.margen-estadisticas
{
    margin-top: 5em;
    background-color: #3266AB;
    /*background-color: #AB3232        esta es la roja*/
}

.Article-sabias
{
    width: 15em;
    padding: .5em;
    color: white;
    display: inline-block;
}

.Article-platillos
{
    display: inline-block;
    padding: .5em;
}

.Article-platillos p
{
    margin: 0;
}

.barra
{
    overflow-x: auto;
    overflow-y: hidden;
    width: 30em;
}

.comida-sugerida
{
    display: block;
}

.platillo
{
    display: inline-block;
    padding: .4rem;
    background-color: #559752;
}

.estadisticas
{
    display: inline-block;
    width: 15.25em;
    text-align: center;
    color: white;
}


.efecto
{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: red;
}